# Ignore compiled docs


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.htaccess
wp-config.php

gitmerge.php

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
wp-config.php
wp-content/uploads/*
cgi-bin
ontwikkelen


